---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div class="markdown-body">
      <main>
        <p>
          Wellcome to my site, my name if <strong>Fahmi Lukistriya</strong>, i'm
          software engineer and do software engineering on frontend side using
          ReactJS, Backend side, Android development using Flutter and Jetpack
          Compose, i learn many thing in many field, i like to explore the
          possibility in software engineering.
        </p>
        <p>
          This blog build with Astro build and use MDX to serve my writes, i
          search for easiest way when coming with personal blog.
        </p>
        <p>
          Have fun! If you get stuck, remember to <a
            href="https://docs.astro.build/"
            >read the docs
          </a> or <a href="https://astro.build/chat">join us on Discord</a> to
          ask questions.
        </p>
        <p>
          Looking for a blog template with a bit more personality? Check out <a
            href="https://github.com/Charca/astro-blog-template"
            >astro-blog-template
          </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
        </p>
      </main>
    </div>
    <Footer />
  </body>
</html>
